.virtual_documents/src/open_bradesco_pdf.ipynb
.virtual_documents/src/Untitled.ipynb
pdfs/extratoCartao.pdf
src/.ipynb_checkpoints/open_bradesco_pdf-checkpoint.ipynb
docker/.virtual_documents/Untitled.ipynb
docker/.ipynb_checkpoints/Untitled-checkpoint.ipynb
